@import "../../commonStyle/commonStyleConstants";
.lendList {
  display: flex;
  height: 100%;
  width: 100%;
  background: @background-all;
  flex-direction: column;
  overflow-y: auto;
  font-family: @font-regular;
  .backBar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40rem/@pTor;
    background-color: #FFFFFF;
    font-family: @font-regular;
    color: @font-color666;
    font-size: 14rem/@pTor;
    box-sizing: border-box;
    .backImg{
      margin-left: 11rem/@pTor;
      margin-right: 6rem/@pTor;
      width: 10rem/@pTor;
      height: 18rem/@pTor;
    }
    .backImgText{
      width: 28rem/@pTor;
      height: 40rem/@pTor;
      display: flex;
      align-items: center;
      justify-content:center;
    }
    .backTitle{
      width: 270rem/@pTor;
      height: 40rem/@pTor;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .backPro{
      width: 50rem/@pTor;
      height: 40rem/@pTor;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .ldContent {
    width: 100%;
    height: 100%-(220rem/@pTor);
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    .noLendInfo{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: @button_b-font-big;
      color: @font-color-nomal-deep;
    }
  }
}